<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools" package="com.payme.sdk">


  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.NFC"/>

  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />
  <uses-feature android:name="android.hardware.NFC" android:required="false" tools:node="replace" tools:replace="android:required" />
  <uses-feature android:name="android.hardware.nfc" android:required="false" tools:node="replace" tools:replace="android:required" />

  <application android:allowBackup="false" android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="@xml/backup_rules" android:requestLegacyExternalStorage="true" android:supportsRtl="true" android:usesCleartextTraffic="true" tools:targetApi="31">
    <activity android:name=".ui.MiniAppActivity" android:exported="true" android:theme="@style/AppTheme" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden" />
    <activity android:name=".ui.FaceDetectorActivity" android:exported="false" android:screenOrientation="portrait" android:theme="@style/CameraActivityTheme" android:windowSoftInputMode="stateHidden" />
    <activity android:name=".ui.FaceAuthenticationActivity" android:exported="false" android:screenOrientation="portrait" android:theme="@style/CameraActivityTheme" android:windowSoftInputMode="stateHidden" />
    <activity android:name=".ui.IdentityCardActivity" android:exported="false" android:screenOrientation="portrait" android:theme="@style/CameraActivityTheme" android:windowSoftInputMode="stateHidden" />
  </application>

</manifest>